*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #ccc;
    font-size: 1em;
}
.dynamicBtn{
    padding:5px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;
}
.imgClass{
    margin-top:10px;
    widht:200px;
    height: 200px;
    border:1px solid #000;
    border-radius: 5px;

}

